<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
          name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>补充寄件费</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script src="/js/common.js"></script>
    <link rel="stylesheet" type="text/css" href="http://cdn.binghai.site/o_1clq1itcp1uf5189g2cg1rhq1g2oa.css">
    <script src="http://cdn.binghai.site/o_1clq1jn5emrb1d0cg37h4pgkia.js"></script>
</head>

<body>
<header class="header" id="header">
    <a href="javascript:history.go(-1)" target=_self class="back">返回</a>
    <h1>选择一个订单</h1>
</header>
<!--header-end-->

<div class="container" id="container">

    <!--我的订单选项卡-->
    <div id="my-order" class="my-order">
        <!--内容-->
        <div id="menu_con">
            <section th:each="part:${orderParts}" class="tag">
                <div class="my-order-item" th:each="order:${part}" th:onclick="${'detailed('+order.extra.expOrderId+')'}">
                    <div class="my-order-item-tit clearfix">
                        <h3 th:text="${'订单号：'+ order.orderId+'【'+order.orderBiz().name+'】'}">订单号：888888888</h3>
                        <span class="my-order-wait-zf" th:text="${order.orderState().name}">等待支付</span>
                    </div>
                    <div class="my-order-item-txt">
                        <div class="my-order-time" th:text="${order.createdTime}">2015-11-28 13:30</div>
                        <div class="my-order-address" th:text="${order.extra.sinfo}">简略信息</div>
                    </div>
                </div>
            </section>
            <!--全部订单结束-->
        </div>
        <!--内容-->

    </div>
    <script>
        var tabs = function () {
            function tag(name, elem) {
                return (elem || document).getElementsByTagName(name);
            }

            //获得相应ID的元素
            function id(name) {
                return document.getElementById(name);
            }

            function first(elem) {
                elem = elem.firstChild;
                return elem && elem.nodeType == 1 ? elem : next(elem);
            }

            function next(elem) {
                do {
                    elem = elem.nextSibling;
                } while (
                    elem && elem.nodeType != 1
                    )
                return elem;
            }

            return {
                set: function (elemId, tabId) {
                    var elem = tag("li", id(elemId));
                    var tabs = tag("section", id(tabId));
                    var listNum = elem.length;
                    var tabNum = tabs.length;
                    for (var i = 0; i < listNum; i++) {
                        elem[i].onclick = (function (i) {
                            return function () {
                                for (var j = 0; j < tabNum; j++) {
                                    if (i == j) {
                                        tabs[j].style.display = "block";
                                        //alert(elem[j].firstChild);
                                        elem[j].firstChild.className = "selected";
                                    }
                                    else {
                                        tabs[j].style.display = "none";
                                        elem[j].firstChild.className = "";
                                    }
                                }
                            }
                        })(i)
                    }
                }
            }
        }();
        tabs.set("nav", "menu_con");//执行
    </script>
    <script language="JavaScript">
        $(document).ready(function () {
            $('html,body').animate({scrollTop: '0px'}, "fast");
            $("#nav li").click(function () {
                $('html,body').animate({scrollTop: '0px'}, "fast");
            });
        });
    </script>
    <script>
        function submit(map) {
            $.ajax({
                type:"POST",
                url:'/user/expCharge/create',
                contentType:"application/json",
                dataType:"json",
                data:JSON.stringify(map),
                success:function(data){
                    if(data.status == 'SUCCESS'){
                        window.location.href = data.msg;
                    }else{
                        myNotice(false,'下单失败',data.msg);
                    }
                }
            });
        }

        function myNotice(success, title, msg) {
            swal(
                title,
                msg,
                success ? 'success' : 'error'
            )
        }

        function detailed(id) {
            swal({
                title: "请输入费用",
                input: 'text',
                showCancelButton: true,
                inputValidator: function (value) {
                    return new Promise(function (resolve, reject) {
                        if (value) {
                            resolve()
                        } else {
                            reject('这是个必填项哦')
                        }
                    })
                }
            }).then(function (result) {
                var dataMap = {};
                dataMap.expId = id;
                dataMap.fee = result;
                submit(dataMap);
            })
        }
    </script>

</div>
<!--container-end-->


</body>
</html>
