<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<title>代寄快递</title>
<link rel="stylesheet" type="text/css" href="css/base.css">
<link rel="stylesheet" type="text/css" href="css/common.css">
<script type="text/javascript" src="js/jquery.min.js" ></script>
<script src="js/common.js"></script>
<!--banner 脚本-->
<script src="js/TouchSlide.1.1.js"></script>
<!--banner 脚本-->
</head>

<body>
<header class="header" id="header">
<a href="javascript:history.go(-1)" target=_self class="back">返回</a>
<h1>代寄快递</h1>
</header>
<!--header-end-->

<div class="container" id="container"> 

  <div class="personal-data1">
    <ul>
      <li><a href="my-name.html"><span>选择快递</span><em>圆通快递</em></a></li>
      <li><a href="my-name.html"><span>联系人</span><em>张大山</em></a></li>
      <li><a href="my-name.html"><span>手机号</span><em>18056000000</em></a></li>
      <li><a href="my-name.html"><span>取件地址</span><em>山东科技大学</em></a></li>
    </ul>
  </div>

</div>
</body>
</html>
